<web-app>
	<context-param>
		<param-name>defaultHtmlEscape</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<filter>
		<filter-name>xssFilter</filter-name>
		<filter-class>com.dummy.configuration.XSSFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>xssFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
	    <filter-name>httpHeaderSecurity</filter-name>
	    <filter-class>com.dummy.security.HSTSFilter</filter-class>
	    <init-param>
  			<param-name>hstsEnabled</param-name>
  			<param-value>true</param-value>
 		</init-param> 
 		<init-param>
  			<param-name>maxAgeSeconds</param-name>
  			<param-value>31536000</param-value>
 		</init-param>
 		<init-param>
			<param-name>includeSubDomains</param-name>
  			<param-value>true</param-value>
 		</init-param>
 		<async-supported>true</async-supported>
	</filter>
	<filter-mapping>
		<filter-name>httpHeaderSecurity</filter-name>		
		<url-pattern>/*</url-pattern>
		<url-pattern>*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

	<display-name>dummyApp</display-name>
	<session-config>
		<cookie-config>
			<http-only>true</http-only>
		</cookie-config>
	</session-config>
</web-app>